

.html_section{
    width: 320px;
    background: rgb(240, 241, 240);
    text-align: center;
    display: inline-block;
}
.css_section{
    width: 320px;
    background: rgb(240, 241, 240);
    text-align: center;
    display: inline-block;
}
.js_section{
    width: 320px;
    background: rgb(240, 241, 240);
    text-align: center;
    display: inline-block;
}
.pen_section{
    width: 320px;
    background: rgb(240, 241, 240);
    text-align: center;
    display: inline-block;
}
.man_section{
    width: 320px;
    background: rgb(240, 241, 240);
    text-align: center;
    display: inline-block;
}
